.moz-ext-sel-menu {
  background-color: #f2f2f2;
  box-shadow: 0 0 1px rgba(0,0,0,0.5), 0 10px 30px rgba(0,0,0,0.15);
  display: inline-block;
  list-style: none;
  line-height: 18px;
  margin: 0;
  padding: 3px;
  white-space: nowrap;
}
.moz-ext-sel-menu__item {
  display: inline-block;
  line-height: 18px;
}
.moz-ext-sel-menu__item:after {
  content: "";
  margin: 0 3px;
  border-left: 1px solid #d7d7d7;
}
.moz-ext-sel-menu__item:last-child:after {
  content: none;
}
.moz-ext-sel-menu__item a {
  color: #4c4c4c;
  cursor: default;
  display: inline-block;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: normal;
  padding: 3px 7px;
  text-decoration: none;
}
.moz-ext-sel-menu__item a:hover {
  color: #333;
  background-color: #8bb8dc;
  text-decoration: none;
}
